<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.1" package="de.vividos.apps.android.taglierina_panoramica" android:installLocation="auto">
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="Taglierina Panoramica" android:theme="@style/MainTheme" android:icon="@mipmap/icon"></application>
</manifest>